# 목적 : TIOBE에서 발표한 컴퓨터 언어 결과가 출판되는 언어별 책의 양과 비례한지 확인!

# 데이터 전처리 [Data Preprocessing]

----
## 1. 데이터 불러오기

In [1]:
import pandas as pd
import numpy as np
# HTML SIZE 조절
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [2]:
# 각 파일 불러오기
data_python = pd.read_excel("../data/Python_raw.xlsx")
data_c = pd.read_excel("../data/C_raw.xlsx")
data_java = pd.read_excel("../data/JAVA_raw.xlsx")
data_cpp = pd.read_excel("../data/C++_raw.xlsx")
data_csharp = pd.read_excel("../data/C#_raw.xlsx")
data_vb = pd.read_excel("../data/Visual Basic_raw.xlsx")
data_js = pd.read_excel("../data/JavaScript_raw.xlsx")
data_sql = pd.read_excel("../data/SQL_raw.xlsx")
data_php = pd.read_excel("../data/PHP_raw.xlsx")
data_r = pd.read_excel("../data/R_raw.xlsx")

In [3]:
# 한꺼번에 처리하기 위해 리스트로 저장
data_raw = [data_python, data_c, data_java, data_cpp, data_csharp, data_vb, data_js, data_sql, data_php, data_r]

----
## 2. 데이터 확인
- 11개 컬럼 존재
- 4411개 파이썬 관련 도서 데이터 존재

In [4]:
# 10개의 언어 데이터 중 임의로 하나 선택해서 확인
data_python.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4411 entries, 0 to 4410
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  4411 non-null   int64
 1   책제목         4411 non-null   object
 2   작가          4400 non-null   object
 3   가격          4411 non-null   int64
 4   할인가격        3479 non-null   float64
 5   ISBN        4411 non-null   object
 6   출판사         4411 non-null   object
 7   출판일         4411 non-null   int64
 8   link        4411 non-null   object
 9   언어          4411 non-null   object
 10  페이지수        4411 non-null   int64
dtypes: float64(1), int64(4), object(6)
memory usage: 379.2+ KB

In [5]:
data_python

,Unnamed: 0,책제목,작가,가격,할인가격,ISBN,출판사,출판일,link,언어,페이지수
0,0,python으로 배우는 OpenCv 프로그래밍,김동근,28000,25200.0,8980783108 9788980783106,가메,20211215,http://book.naver.com/bookdb/book_detail.php?b...,Python,552
1,1,처음 만나는 AI 수학 with Python (한 권으로 배우는 인공지능 수학 첫걸음),아즈마 유키나가,23000,20700.0,8931463375 9788931463378,영진닷컴,20210115,http://book.naver.com/bookdb/book_detail.php?b...,Python,308
2,2,프로그래머를 위한 Python,폴 데이텔|하비 데이텔,38000,34200.0,8931556829 9788931556827,성안당,20211223,http://book.naver.com/bookdb/book_detail.php?b...,Python,776
3,3,Applied Numerical Methods with Python for Engi...,Clough|David,374140,NaN,1266651497 9781266651496,McGraw-HillEducation,20211207,http://book.naver.com/bookdb/book_detail.php?b...,Python,9781266651496
4,4,"Programming Basics: Getting Started with Java,...",Ciesla|Robert,66360,NaN,1484272854 9781484272855,Apress,20211220,http://book.naver.com/bookdb/book_detail.php?b...,Python,9781484272855
...,...,...,...,...,...,...,...,...,...,...,...
4406,44,테스트 주도 개발,켄트 벡,25000,NaN,8991268048 9788991268043,인사이트,20050102,http://book.naver.com/bookdb/book_detail.php?b...,Python,380
4407,45,DELPHI CLIENT SERVER DEVELOPERS GUIDE,JOSEPH D.BOOTH,35000,NaN,8974673649 9788974673642,삼각형,19971015,http://book.naver.com/bookdb/book_detail.php?b...,Python,744
4408,46,델파이 2 (고급테크닉),주경민,17000,NaN,8985770888 9788985770880,한글과컴퓨터,19970117,http://book.naver.com/bookdb/book_detail.php?b...,Python,558
4409,47,델파이 정복,김상형,22000,NaN,8973541528 9788973541522,가남사,19960701,http://book.naver.com/bookdb/book_detail.php?b...,Python,950
4410,48,DELPHI 3 PROGRAMING,김성욱,18000,NaN,8983790458 9788983790453,혜지원,19980603,http://book.naver.com/bookdb/book_detail.php?b...,Python,654

----
## 3. 데이터 전처리

In [6]:
# test용 임시파일 생성
test_file = data_python.copy()

### 3-1. 불필요한 컬럼 삭제

In [7]:
del test_file["Unnamed: 0"]
test_file.head(5)

,책제목,작가,가격,할인가격,ISBN,출판사,출판일,link,언어,페이지수
0,python으로 배우는 OpenCv 프로그래밍,김동근,28000,25200.0,8980783108 9788980783106,가메,20211215,http://book.naver.com/bookdb/book_detail.php?b...,Python,552
1,처음 만나는 AI 수학 with Python (한 권으로 배우는 인공지능 수학 첫걸음),아즈마 유키나가,23000,20700.0,8931463375 9788931463378,영진닷컴,20210115,http://book.naver.com/bookdb/book_detail.php?b...,Python,308
2,프로그래머를 위한 Python,폴 데이텔|하비 데이텔,38000,34200.0,8931556829 9788931556827,성안당,20211223,http://book.naver.com/bookdb/book_detail.php?b...,Python,776
3,Applied Numerical Methods with Python for Engi...,Clough|David,374140,NaN,1266651497 9781266651496,McGraw-HillEducation,20211207,http://book.naver.com/bookdb/book_detail.php?b...,Python,9781266651496
4,"Programming Basics: Getting Started with Java,...",Ciesla|Robert,66360,NaN,1484272854 9781484272855,Apress,20211220,http://book.naver.com/bookdb/book_detail.php?b...,Python,9781484272855

In [8]:
### 3-2. "할인가격" column, NaN값 0 으로 데체
test_file["할인가격"].fillna(0, inplace = True)
test_file.head(10)

,책제목,작가,가격,할인가격,ISBN,출판사,출판일,link,언어,페이지수
0,python으로 배우는 OpenCv 프로그래밍,김동근,28000,25200.0,8980783108 9788980783106,가메,20211215,http://book.naver.com/bookdb/book_detail.php?b...,Python,552
1,처음 만나는 AI 수학 with Python (한 권으로 배우는 인공지능 수학 첫걸음),아즈마 유키나가,23000,20700.0,8931463375 9788931463378,영진닷컴,20210115,http://book.naver.com/bookdb/book_detail.php?b...,Python,308
2,프로그래머를 위한 Python,폴 데이텔|하비 데이텔,38000,34200.0,8931556829 9788931556827,성안당,20211223,http://book.naver.com/bookdb/book_detail.php?b...,Python,776
3,Applied Numerical Methods with Python for Engi...,Clough|David,374140,0.0,1266651497 9781266651496,McGraw-HillEducation,20211207,http://book.naver.com/bookdb/book_detail.php?b...,Python,9781266651496
4,"Programming Basics: Getting Started with Java,...",Ciesla|Robert,66360,0.0,1484272854 9781484272855,Apress,20211220,http://book.naver.com/bookdb/book_detail.php?b...,Python,9781484272855
5,Python을 이용한 개인화 추천 시스템,임일,18000,17640.0,8959727660 9788959727667,청람,20200825,http://book.naver.com/bookdb/book_detail.php?b...,Python,158
6,최적합 전문코딩능력평가 COS PRO 2급 Python,장대경,22000,19800.0,8931555636 9788931555639,성안당,20190424,http://book.naver.com/bookdb/book_detail.php?b...,Python,328
7,비즈니스 python 첫걸음,나카지마 쇼고,23000,20700.0,1196262063 9791196262068,보국출판사,20211130,http://book.naver.com/bookdb/book_detail.php?b...,Python,224
8,Financial Theory with Python: A Gentle Introdu...,Hilpisch|Yves,74360,0.0,1098104358 9781098104351,O'ReillyMedia,20211221,http://book.naver.com/bookdb/book_detail.php?b...,Python,200
9,"파이썬으로 배우는 게임 개발 (닷잇 액션, 탄막 슈팅, 맵 에티터,장애물 피하기,실전편)",히로세 츠요시,30000,27000.0,119066545X 9791190665452,제이펍,20201120,http://book.naver.com/bookdb/book_detail.php?b...,Python,544

### 3-3. 중복된 ISBN 숫자 row 제거
- 동일한 책이 다른 제목 검색으로 인해 여러번 크롤링 되었을 수 있다.

In [9]:
test_file

,책제목,작가,가격,할인가격,ISBN,출판사,출판일,link,언어,페이지수
0,python으로 배우는 OpenCv 프로그래밍,김동근,28000,25200.0,8980783108 9788980783106,가메,20211215,http://book.naver.com/bookdb/book_detail.php?b...,Python,552
1,처음 만나는 AI 수학 with Python (한 권으로 배우는 인공지능 수학 첫걸음),아즈마 유키나가,23000,20700.0,8931463375 9788931463378,영진닷컴,20210115,http://book.naver.com/bookdb/book_detail.php?b...,Python,308
2,프로그래머를 위한 Python,폴 데이텔|하비 데이텔,38000,34200.0,8931556829 9788931556827,성안당,20211223,http://book.naver.com/bookdb/book_detail.php?b...,Python,776
3,Applied Numerical Methods with Python for Engi...,Clough|David,374140,0.0,1266651497 9781266651496,McGraw-HillEducation,20211207,http://book.naver.com/bookdb/book_detail.php?b...,Python,9781266651496
4,"Programming Basics: Getting Started with Java,...",Ciesla|Robert,66360,0.0,1484272854 9781484272855,Apress,20211220,http://book.naver.com/bookdb/book_detail.php?b...,Python,9781484272855
...,...,...,...,...,...,...,...,...,...,...
4406,테스트 주도 개발,켄트 벡,25000,0.0,8991268048 9788991268043,인사이트,20050102,http://book.naver.com/bookdb/book_detail.php?b...,Python,380
4407,DELPHI CLIENT SERVER DEVELOPERS GUIDE,JOSEPH D.BOOTH,35000,0.0,8974673649 9788974673642,삼각형,19971015,http://book.naver.com/bookdb/book_detail.php?b...,Python,744
4408,델파이 2 (고급테크닉),주경민,17000,0.0,8985770888 9788985770880,한글과컴퓨터,19970117,http://book.naver.com/bookdb/book_detail.php?b...,Python,558
4409,델파이 정복,김상형,22000,0.0,8973541528 9788973541522,가남사,19960701,http://book.naver.com/bookdb/book_detail.php?b...,Python,950
4410,DELPHI 3 PROGRAMING,김성욱,18000,0.0,8983790458 9788983790453,혜지원,19980603,http://book.naver.com/bookdb/book_detail.php?b...,Python,654

In [10]:
test_file.drop_duplicates(['ISBN'], inplace = True)
test_file

,책제목,작가,가격,할인가격,ISBN,출판사,출판일,link,언어,페이지수
0,python으로 배우는 OpenCv 프로그래밍,김동근,28000,25200.0,8980783108 9788980783106,가메,20211215,http://book.naver.com/bookdb/book_detail.php?b...,Python,552
1,처음 만나는 AI 수학 with Python (한 권으로 배우는 인공지능 수학 첫걸음),아즈마 유키나가,23000,20700.0,8931463375 9788931463378,영진닷컴,20210115,http://book.naver.com/bookdb/book_detail.php?b...,Python,308
2,프로그래머를 위한 Python,폴 데이텔|하비 데이텔,38000,34200.0,8931556829 9788931556827,성안당,20211223,http://book.naver.com/bookdb/book_detail.php?b...,Python,776
3,Applied Numerical Methods with Python for Engi...,Clough|David,374140,0.0,1266651497 9781266651496,McGraw-HillEducation,20211207,http://book.naver.com/bookdb/book_detail.php?b...,Python,9781266651496
4,"Programming Basics: Getting Started with Java,...",Ciesla|Robert,66360,0.0,1484272854 9781484272855,Apress,20211220,http://book.naver.com/bookdb/book_detail.php?b...,Python,9781484272855
...,...,...,...,...,...,...,...,...,...,...
4368,자료구조 알고리즘 & 머신러닝 상세분석,정재준,33000,29700.0,8997750089 9788997750085,커널연구회,20120506,http://book.naver.com/bookdb/book_detail.php?b...,Python,431
4371,실전 해킹 보안 필독 세트 (전2권),JOHNNY LONG|Jon Erickson,45000,0.0,8960770531 9788960770539,에이콘출판,20091127,http://book.naver.com/bookdb/book_detail.php?b...,Python,998
4386,마이크로 소프트웨어 2004.2,마이크로소프트웨어 편집부,8500,0.0,6000100564 6000100564,소프트뱅크미디어(월간지),20040201,http://book.naver.com/bookdb/book_detail.php?b...,Python,384
4395,테스트 주도 개발,켄트 벡,25000,0.0,8991268048 9788991268043,인사이트,20050102,http://book.naver.com/bookdb/book_detail.php?b...,Python,380
4405,거침없이 배우는 라즈베리 파이 (Raspberry Pi User Guide),에벤 업튼|가레스 할퍼크리,25000,0.0,8993827575 9788993827576,지앤선,20130327,http://book.naver.com/bookdb/book_detail.php?b...,Python,285

- 4411개에서 2445개로 줄어듬

In [11]:
### 3-4. 각 Column별 Nan값 삭제
column_list = ["책제목", "작가", "가격", "할인가격", "ISBN", "출판사", "출판일", "link", "언어", "페이지수"]

In [12]:
for column in column_list:
    test_file = test_file[test_file[column].isnull() == False]

In [13]:
### 3-5 index 재설정
test_file.reset_index(drop=True, inplace = True)
test_file

,책제목,작가,가격,할인가격,ISBN,출판사,출판일,link,언어,페이지수
0,python으로 배우는 OpenCv 프로그래밍,김동근,28000,25200.0,8980783108 9788980783106,가메,20211215,http://book.naver.com/bookdb/book_detail.php?b...,Python,552
1,처음 만나는 AI 수학 with Python (한 권으로 배우는 인공지능 수학 첫걸음),아즈마 유키나가,23000,20700.0,8931463375 9788931463378,영진닷컴,20210115,http://book.naver.com/bookdb/book_detail.php?b...,Python,308
2,프로그래머를 위한 Python,폴 데이텔|하비 데이텔,38000,34200.0,8931556829 9788931556827,성안당,20211223,http://book.naver.com/bookdb/book_detail.php?b...,Python,776
3,Applied Numerical Methods with Python for Engi...,Clough|David,374140,0.0,1266651497 9781266651496,McGraw-HillEducation,20211207,http://book.naver.com/bookdb/book_detail.php?b...,Python,9781266651496
4,"Programming Basics: Getting Started with Java,...",Ciesla|Robert,66360,0.0,1484272854 9781484272855,Apress,20211220,http://book.naver.com/bookdb/book_detail.php?b...,Python,9781484272855
...,...,...,...,...,...,...,...,...,...,...
2432,자료구조 알고리즘 & 머신러닝 상세분석,정재준,33000,29700.0,8997750089 9788997750085,커널연구회,20120506,http://book.naver.com/bookdb/book_detail.php?b...,Python,431
2433,실전 해킹 보안 필독 세트 (전2권),JOHNNY LONG|Jon Erickson,45000,0.0,8960770531 9788960770539,에이콘출판,20091127,http://book.naver.com/bookdb/book_detail.php?b...,Python,998
2434,마이크로 소프트웨어 2004.2,마이크로소프트웨어 편집부,8500,0.0,6000100564 6000100564,소프트뱅크미디어(월간지),20040201,http://book.naver.com/bookdb/book_detail.php?b...,Python,384
2435,테스트 주도 개발,켄트 벡,25000,0.0,8991268048 9788991268043,인사이트,20050102,http://book.naver.com/bookdb/book_detail.php?b...,Python,380
2436,거침없이 배우는 라즈베리 파이 (Raspberry Pi User Guide),에벤 업튼|가레스 할퍼크리,25000,0.0,8993827575 9788993827576,지앤선,20130327,http://book.naver.com/bookdb/book_detail.php?b...,Python,285

In [14]:
# 결측치 제거 확인
test_file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2437 entries, 0 to 2436
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   책제목     2437 non-null   object
 1   작가      2437 non-null   object
 2   가격      2437 non-null   int64
 3   할인가격    2437 non-null   float64
 4   ISBN    2437 non-null   object
 5   출판사     2437 non-null   object
 6   출판일     2437 non-null   int64
 7   link    2437 non-null   object
 8   언어      2437 non-null   object
 9   페이지수    2437 non-null   int64
dtypes: float64(1), int64(3), object(6)
memory usage: 190.5+ KB

----
### 3-6 위의 전처리 과정을 전체 언어에 적용할 모듈 생성

In [15]:
#비교 전
for raw_file in data_raw:
    raw_file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4411 entries, 0 to 4410
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  4411 non-null   int64
 1   책제목         4411 non-null   object
 2   작가          4400 non-null   object
 3   가격          4411 non-null   int64
 4   할인가격        3479 non-null   float64
 5   ISBN        4411 non-null   object
 6   출판사         4411 non-null   object
 7   출판일         4411 non-null   int64
 8   link        4411 non-null   object
 9   언어          4411 non-null   object
 10  페이지수        4411 non-null   int64
dtypes: float64(1), int64(4), object(6)
memory usage: 379.2+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 0 to 3999
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  4000 non-null   int64
 1   책제목         4000 non-null   object
 2   작가          3991 non-null   object
 3   가격          3984 non-null   float64
 4   할인가격        2163 non-null   float64
 5   ISBN        3999 non-null   object
 6   출판사         4000 non-null   object
 7   출판일         3996 non-null   float64
 8   link        4000 non-null   object
 9   언어          4000 non-null   object
 10  페이지수        4000 non-null   int64
dtypes: float64(3), int64(2), object(6)
memory usage: 343.9+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  3000 non-null   int64
 1   책제목         3000 non-null   object
 2   작가          2991 non-null   object
 3   가격          2996 non-null   float64
 4   할인가격        1257 non-null   float64
 5   ISBN        3000 non-null   object
 6   출판사         2999 non-null   object
 7   출판일         3000 non-null   int64
 8   link        3000 non-null   object
 9   언어          3000 non-null   object
 10  페이지수        3000 non-null   int64
dtypes: float64(2), int64(3), object(6)
memory usage: 257.9+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4011 entries, 0 to 4010
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  4011 non-null   int64
 1   책제목         4011 non-null   object
 2   작가          3988 non-null   object
 3   가격          4009 non-null   float64
 4   할인가격        1626 non-null   float64
 5   ISBN        4010 non-null   object
 6   출판사         4010 non-null   object
 7   출판일         4003 non-null   float64
 8   link        4011 non-null   object
 9   언어          4011 non-null   object
 10  페이지수        4011 non-null   int64
dtypes: float64(3), int64(2), object(6)
memory usage: 344.8+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3982 entries, 0 to 3981
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  3982 non-null   int64
 1   책제목         3982 non-null   object
 2   작가          3961 non-null   object
 3   가격          3967 non-null   float64
 4   할인가격        1768 non-null   float64
 5   ISBN        3980 non-null   object
 6   출판사         3979 non-null   object
 7   출판일         3982 non-null   int64
 8   link        3982 non-null   object
 9   언어          3982 non-null   object
 10  페이지수        3982 non-null   int64
dtypes: float64(2), int64(3), object(6)
memory usage: 342.3+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2595 entries, 0 to 2594
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  2595 non-null   int64
 1   책제목         2595 non-null   object
 2   작가          2568 non-null   object
 3   가격          2592 non-null   float64
 4   할인가격        877 non-null    float64
 5   ISBN        2595 non-null   object
 6   출판사         2595 non-null   object
 7   출판일         2590 non-null   object
 8   link        2595 non-null   object
 9   언어          2595 non-null   object
 10  페이지수        2595 non-null   int64
dtypes: float64(2), int64(2), object(7)
memory usage: 223.1+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3750 entries, 0 to 3749
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  3750 non-null   int64
 1   책제목         3750 non-null   object
 2   작가          3739 non-null   object
 3   가격          3747 non-null   float64
 4   할인가격        2040 non-null   float64
 5   ISBN        3749 non-null   object
 6   출판사         3750 non-null   object
 7   출판일         3750 non-null   int64
 8   link        3750 non-null   object
 9   언어          3750 non-null   object
 10  페이지수        3750 non-null   int64
dtypes: float64(2), int64(3), object(6)
memory usage: 322.4+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  5000 non-null   int64
 1   책제목         5000 non-null   object
 2   작가          4990 non-null   object
 3   가격          5000 non-null   float64
 4   할인가격        2416 non-null   float64
 5   ISBN        5000 non-null   object
 6   출판사         5000 non-null   object
 7   출판일         4999 non-null   float64
 8   link        5000 non-null   object
 9   언어          5000 non-null   object
 10  페이지수        5000 non-null   int64
dtypes: float64(3), int64(2), object(6)
memory usage: 429.8+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2536 entries, 0 to 2535
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  2536 non-null   int64
 1   책제목         2536 non-null   object
 2   작가          2513 non-null   object
 3   가격          2534 non-null   float64
 4   할인가격        1130 non-null   float64
 5   ISBN        2536 non-null   object
 6   출판사         2536 non-null   object
 7   출판일         2536 non-null   int64
 8   link        2536 non-null   object
 9   언어          2536 non-null   object
 10  페이지수        2536 non-null   int64
dtypes: float64(2), int64(3), object(6)
memory usage: 218.1+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4583 entries, 0 to 4582
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  4583 non-null   int64
 1   책제목         4583 non-null   object
 2   작가          4578 non-null   object
 3   가격          4531 non-null   float64
 4   할인가격        2858 non-null   float64
 5   ISBN        4583 non-null   object
 6   출판사         4583 non-null   object
 7   출판일         4578 non-null   object
 8   link        4583 non-null   object
 9   언어          4583 non-null   object
 10  페이지수        4583 non-null   int64
dtypes: float64(2), int64(2), object(7)
memory usage: 394.0+ KB

In [16]:
column_list = ["책제목", "작가", "가격", "할인가격", "ISBN", "출판사", "출판일", "link", "언어", "페이지수"]

In [17]:
for raw_file in data_raw:
    del raw_file["Unnamed: 0"]
    raw_file['작가'] = raw_file['작가'].astype(str)
    raw_file['가격'] = raw_file['가격'].astype(str)
    raw_file['할인가격'] = raw_file['할인가격'].astype(str)
    raw_file['ISBN'] = raw_file['ISBN'].astype(str)
    raw_file['출판일'] = raw_file['출판일'].astype(str)
    raw_file['출판사'] = raw_file['출판사'].astype(str)
    raw_file.drop_duplicates(['ISBN'], inplace = True)
    raw_file.dropna(subset=[column for coloumn in column_list],inplace=True)
    raw_file.reset_index(drop=True, inplace = True)

In [18]:
# 모든 컬럼 null없는 거 확인
for raw_file in data_raw:
    raw_file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2445 entries, 0 to 2444
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   책제목     2445 non-null   object
 1   작가      2445 non-null   object
 2   가격      2445 non-null   object
 3   할인가격    2445 non-null   object
 4   ISBN    2445 non-null   object
 5   출판사     2445 non-null   object
 6   출판일     2445 non-null   object
 7   link    2445 non-null   object
 8   언어      2445 non-null   object
 9   페이지수    2445 non-null   int64
dtypes: int64(1), object(9)
memory usage: 191.1+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2758 entries, 0 to 2757
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   책제목     2758 non-null   object
 1   작가      2758 non-null   object
 2   가격      2758 non-null   object
 3   할인가격    2758 non-null   object
 4   ISBN    2758 non-null   object
 5   출판사     2758 non-null   object
 6   출판일     2758 non-null   object
 7   link    2758 non-null   object
 8   언어      2758 non-null   object
 9   페이지수    2758 non-null   int64
dtypes: int64(1), object(9)
memory usage: 215.6+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1944 entries, 0 to 1943
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   책제목     1944 non-null   object
 1   작가      1944 non-null   object
 2   가격      1944 non-null   object
 3   할인가격    1944 non-null   object
 4   ISBN    1944 non-null   object
 5   출판사     1944 non-null   object
 6   출판일     1944 non-null   object
 7   link    1944 non-null   object
 8   언어      1944 non-null   object
 9   페이지수    1944 non-null   int64
dtypes: int64(1), object(9)
memory usage: 152.0+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2306 entries, 0 to 2305
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   책제목     2306 non-null   object
 1   작가      2306 non-null   object
 2   가격      2306 non-null   object
 3   할인가격    2306 non-null   object
 4   ISBN    2306 non-null   object
 5   출판사     2306 non-null   object
 6   출판일     2306 non-null   object
 7   link    2306 non-null   object
 8   언어      2306 non-null   object
 9   페이지수    2306 non-null   int64
dtypes: int64(1), object(9)
memory usage: 180.3+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2072 entries, 0 to 2071
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   책제목     2072 non-null   object
 1   작가      2072 non-null   object
 2   가격      2072 non-null   object
 3   할인가격    2072 non-null   object
 4   ISBN    2072 non-null   object
 5   출판사     2072 non-null   object
 6   출판일     2072 non-null   object
 7   link    2072 non-null   object
 8   언어      2072 non-null   object
 9   페이지수    2072 non-null   int64
dtypes: int64(1), object(9)
memory usage: 162.0+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1830 entries, 0 to 1829
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   책제목     1830 non-null   object
 1   작가      1830 non-null   object
 2   가격      1830 non-null   object
 3   할인가격    1830 non-null   object
 4   ISBN    1830 non-null   object
 5   출판사     1830 non-null   object
 6   출판일     1830 non-null   object
 7   link    1830 non-null   object
 8   언어      1830 non-null   object
 9   페이지수    1830 non-null   int64
dtypes: int64(1), object(9)
memory usage: 143.1+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2886 entries, 0 to 2885
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   책제목     2886 non-null   object
 1   작가      2886 non-null   object
 2   가격      2886 non-null   object
 3   할인가격    2886 non-null   object
 4   ISBN    2886 non-null   object
 5   출판사     2886 non-null   object
 6   출판일     2886 non-null   object
 7   link    2886 non-null   object
 8   언어      2886 non-null   object
 9   페이지수    2886 non-null   int64
dtypes: int64(1), object(9)
memory usage: 225.6+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3021 entries, 0 to 3020
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   책제목     3021 non-null   object
 1   작가      3021 non-null   object
 2   가격      3021 non-null   object
 3   할인가격    3021 non-null   object
 4   ISBN    3021 non-null   object
 5   출판사     3021 non-null   object
 6   출판일     3021 non-null   object
 7   link    3021 non-null   object
 8   언어      3021 non-null   object
 9   페이지수    3021 non-null   int64
dtypes: int64(1), object(9)
memory usage: 236.1+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1359 entries, 0 to 1358
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   책제목     1359 non-null   object
 1   작가      1359 non-null   object
 2   가격      1359 non-null   object
 3   할인가격    1359 non-null   object
 4   ISBN    1359 non-null   object
 5   출판사     1359 non-null   object
 6   출판일     1359 non-null   object
 7   link    1359 non-null   object
 8   언어      1359 non-null   object
 9   페이지수    1359 non-null   int64
dtypes: int64(1), object(9)
memory usage: 106.3+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3342 entries, 0 to 3341
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   책제목     3342 non-null   object
 1   작가      3342 non-null   object
 2   가격      3342 non-null   object
 3   할인가격    3342 non-null   object
 4   ISBN    3342 non-null   object
 5   출판사     3342 non-null   object
 6   출판일     3342 non-null   object
 7   link    3342 non-null   object
 8   언어      3342 non-null   object
 9   페이지수    3342 non-null   int64
dtypes: int64(1), object(9)
memory usage: 261.2+ KB

### 3-7 하나의 dataframe으로 combine

In [19]:
result_list = pd.concat(data_raw)

In [20]:
result_list.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23963 entries, 0 to 3341
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   책제목     23963 non-null  object
 1   작가      23963 non-null  object
 2   가격      23963 non-null  object
 3   할인가격    23963 non-null  object
 4   ISBN    23963 non-null  object
 5   출판사     23963 non-null  object
 6   출판일     23963 non-null  object
 7   link    23963 non-null  object
 8   언어      23963 non-null  object
 9   페이지수    23963 non-null  int64
dtypes: int64(1), object(9)
memory usage: 2.0+ MB

----

In [21]:
result_list

,책제목,작가,가격,할인가격,ISBN,출판사,출판일,link,언어,페이지수
0,python으로 배우는 OpenCv 프로그래밍,김동근,28000,25200.0,8980783108 9788980783106,가메,20211215,http://book.naver.com/bookdb/book_detail.php?b...,Python,552
1,처음 만나는 AI 수학 with Python (한 권으로 배우는 인공지능 수학 첫걸음),아즈마 유키나가,23000,20700.0,8931463375 9788931463378,영진닷컴,20210115,http://book.naver.com/bookdb/book_detail.php?b...,Python,308
2,프로그래머를 위한 Python,폴 데이텔|하비 데이텔,38000,34200.0,8931556829 9788931556827,성안당,20211223,http://book.naver.com/bookdb/book_detail.php?b...,Python,776
3,Applied Numerical Methods with Python for Engi...,Clough|David,374140,nan,1266651497 9781266651496,McGraw-HillEducation,20211207,http://book.naver.com/bookdb/book_detail.php?b...,Python,9781266651496
4,"Programming Basics: Getting Started with Java,...",Ciesla|Robert,66360,nan,1484272854 9781484272855,Apress,20211220,http://book.naver.com/bookdb/book_detail.php?b...,Python,9781484272855
...,...,...,...,...,...,...,...,...,...,...
3337,Discovering the Hidden Listener (An Empirical ...,"Parta, R. Eugene.|Parta, Eugene R.",22500.0,20250.0,0817947329 9780817947323,HooverInstPr,20060601,http://book.naver.com/bookdb/book_detail.php?b...,R,76
3338,Handbook of Violence,Lisa A. Rapp-paglicci|Albert R. Roberts|John S...,154984.0,154570.0,0471414670 9780471414674,JohnWiley&Sons,20020301,http://book.naver.com/bookdb/book_detail.php?b...,R,460
3339,Facilities Engineering and Management Handbook...,Paul R. Smith|editor-in-chief|... et al.,227030.0,122250.0,007059323X 9780070593237,McGraw-Hill,20001201,http://book.naver.com/bookdb/book_detail.php?b...,R,1200
3340,C# Orcas For Dummies (Paperback) (For Dummies ...,"Davis, Stephen R.|Sphar, Chuck",44970.0,36880.0,0470191090 9780470191095,JohnWiley&SonsInc,20071122,http://book.naver.com/bookdb/book_detail.php?b...,R,456
3341,Venture into cultures alk. paper,Olga R. Kuharets|Editor,nan,nan,0838935133 9780838935132,AmericanLibraryAssociation,2001,http://book.naver.com/bookdb/book_detail.php?b...,R,125

In [22]:
### 3-8 출판일 년도와 월로만 표시
result_list['출판일'] = result_list['출판일'].astype(str)
result_list['출판일'] = result_list['출판일'].str[:6]

In [23]:
result_list['출판일'].unique()

array(['202112', '202101', '202008', '201904', '202111', '202011',
       '202102', '202003', '202105', '202012', '202103', '202107',
       '202108', '202110', '202106', '202109', '202010', '202104',
       '201406', '202006', '201809', '202002', '202005', '201402',
       '202009', '201903', '201905', '202007', '201806', '201708',
       '201908', '201504', '201403', '201509', '201808', '201602',
       '201909', '202001', '201807', '201907', '201703', '201802',
       '201902', '201511', '201206', '201606', '201701', '201912',
       '201911', '201910', '201712', '201906', '201811', '201901',
       '201205', '201705', '200108', '201805', '201804', '202004',
       '201803', '201711', '200010', '201801', '200011', '201812',
       '200212', '201610', '201608', '200911', '201603', '199801',
       '201110', '201702', '201710', '201302', '201401', '201605',
       '201709', '200107', '201404', '201312', '199904', '2017', '200303',
       '201706', '200111', '201407', '201310', '202201', '201810',
       '201412', '201009', '201707', '201607', '201303', '201611',
       '201010', '200804', '200802', '201408', '201410', '201308',
       '201503', '201104', '201512', '200205', '201507', '200005',
       '201601', '200610', '200602', '201209', '200700', '200406',
       '199909', '201105', '190001', '201011', '200805', '200811',
       '201304', '200707', '200704', '200608', '201001', '201505',
       '201405', '200501', '200408', '200706', '200209', '200204',
       '200106', '200110', '200601', '2012', '200207', '201106', '201204',
       '200508', '201604', '201508', '201501', '201409', '200101',
       '200906', '201411', '201111', '201612', '201609', '201301',
       '201704', '201305', '200109', '200203', '201005', '201510',
       '201103', '201202', '201309', '201002', '201208', '200907',
       '200008', '201506', '201006', '201307', '200904', '201201',
       '200304', '200012', '200301', '200404', '200712', '200210',
       '200908', '200401', '200305', '200002', '199911', '200903',
       '200202', '200001', '200410', '199912', '200201', '199903',
       '199809', '200211', '200009', '199810', '199811', '199902',
       '199812', '199901', '199612', '199908', '199806', '199807',
       '199906', '199910', '199710', '199711', '199905', '200003',
       '199803', '199802', '199808', '199701', '199709', '199907',
       '201210', '199712', '199608', '199601', '199708', '199607',
       '199510', '199602', '199606', '199511', '199506', '199704',
       '199611', '199604', '199609', '199605', '199610', '199706',
       '200306', '2016', '2014', '200910', '201101', '200512', '200104',
       '200708', '200206', '200403', '201502', '201311', '200612',
       '200901', '200112', '200402', '200308', '200603', '200302',
       '200902', '201211', '1998.0', '200405', '200311', '201306',
       '200810', '200812', '199501', '1997.0', '199209', '199705',
       '200905', '200912', '198609', '2011.0', '198901', '199109',
       '199406', '199603', '198503', '199305', '200909', '200711',
       '200208', '201012', '200701', '200808', '200605', '2000.0',
       '200504', '1994.0', '200710', '198011', '200703', '200806',
       '198304', '199405', '200509', '198702', '199003', '201003',
       '200511', '200510', '199004', '199001', '200702', '200102', '0.0',
       '200007', '200611', '200412', '200105', '1999.0', '201207',
       '200411', '200004', '198603', '195706', '201007', '2012.0',
       '200604', '197912', '199512', '200606', '199206', '198906',
       '200809', '200507', '199300', '199112', '199412', '201108',
       '201102', '200709', '199402', '200506', '200803', '1991.0',
       '199208', '198601', '199301', '201004', '200807', '201203',
       '201112', '201212', '200801', '199312', '197806', '1992.0', 'nan',
       '198012', '202203', '199408', '199500', '2001.0', '1978.0',
       '199101', '197810', '197201', '200607', '198812', '196501',
       '198708', '197704', '199407', '199201', '198111', '200502',
       '198903', '198703', '199308', '198803', '200407', '199011',
       '1986.0', '200609', '201008', '2017.0', '199804', '2016.0',
       '2015.0', '199403', '199703', '199210', '200503', '200705',
       '201107', '200309', '200310', '201109', '2007.0', '2009.0',
       '200307', '199509', '199211', '200103', '199502', '199410',
       '199702', '199103', '200006', '199008', '2013.0', '2004.0',
       '199204', '200409', '199203', '199507', '199202', '199401',
       '199707', '199107', '199307', '199010', '199110', '199102',
       '199508', '199111', '199309', '199106', '199207', '2014.0',
       '1996.0', '2002.0', '2003.0', '2010.0', '2008.0', '2006.0',
       '200505', '198306', '199012', '199311', '1993.0', '200312',
       '199302', '198902', '198508', '199504', '199006', '199503',
       '199005', '0', '198505', '2007', '2011', '2010', '2013', '2009',
       '2006', '2008', '2005', '2000', '2003', '2004', '2002', '199805',
       '199404', '199205', '199505', '199108', '199104', '199105',
       '199411', '199409', '199304', '198908', '199303', '199600',
       '200000', '200500', '190105', '199007', '198911', '190012',
       '199900', '200800', '200600', '199700', '200200', '2015', '000000',
       '190101', '200400', '1999', '0000', '200100', '199310', '190005',
       '2005.0', '198900', '200900', '199000', '2001', '200300', '1994',
       '1997', '2000, ', '1998', '1993', '1995', '1996', '199306',
       '199009', '198501', 'June20', '198403', '1987', '1983', '198611',
       '196701', '198905', '198511', '199800', '196901', '199400',
       '198912', '198212', '197210', '1991', '197003', '197104', '197103',
       '197710', '198701', 'June19', '190000', '198010', '1990', '201362',
       '198203', '199212', '198401', '198604', '198311', '198205',
       '198207', '198800', '1989', '1988', '1985', '198801', '198504',
       '1976'], dtype=object)

In [24]:
# 출판일 년도와 달 글자가 4 이상인 것만 추출
result_list = result_list[result_list['출판일'].str.len() >= 4]

In [25]:
# 출판일에서 ".", "," 제거
for idx, row in result_list.iterrows():
    if "." in str(row["출판일"]):
        tmp = str(row["출판일"][:4] + "01")
        row["출판일"] = tmp
        result_list.iloc[idx] = row
    if "," in str(row["출판일"]):
        tmp = str(row["출판일"][:4] + "01")
        row["출판일"] = tmp
        result_list.iloc[idx] = row

/opt/miniconda3/envs/xgboost_trial2/lib/python3.8/site-packages/pandas/core/indexing.py:1797: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, v, pi)

In [26]:
result_list['출판일'].unique()

array(['202112', '202101', '202008', '200101', '202111', '202011',
       '202102', '202003', '202105', '202012', '202103', '201301',
       '202107', '202108', '202110', '202106', '202109', '202010',
       '202104', '201406', '202006', '200801', '201809', '199801',
       '202002', '199701', '202005', '201402', '202009', '201903',
       '201101', '201905', '201904', '200001', '202007', '199401',
       '201501', '200401', '201806', '199901', '200901', '201201',
       '201708', '199101', '199201', '197801', '198601', '201701',
       '201601', '201908', '200601', '201504', '201401', '200201',
       '199601', '200301', '200501', '201808', '201602', '201909',
       '201807', '201907', '201606', '202001', '201912', '201911',
       '201910', '201712', '201906', '201811', '201901', '201205',
       '201705', '200108', '201805', '201804', '202004', '201403',
       '201803', '201711', '200010', '201801', '200011', '201812',
       '200212', '201703', '201610', '201608', '200911', '201603',
       '201110', '201702', '201710', '201302', '201605', '201709',
       '200107', '201404', '201312', '199904', '2017', '201706', '200111',
       '201407', '201310', '201902', '200701', '202201', '201802',
       '201810', '201412', '201009', '201707', '201509', '201607',
       '201303', '201611', '201010', '200804', '200802', '201511',
       '201408', '201410', '201308', '201503', '201104', '201512',
       '200205', '201507', '200610', '200602', '201209', '200700',
       '200406', '199909', '201105', '190001', '201011', '200805',
       '200811', '201304', '200707', '200704', '200608', '201001',
       '201505', '201405', '200408', '200706', '200209', '200204',
       '200106', '200110', '2012', '200207', '201106', '201204', '200508',
       '201604', '201508', '201409', '200906', '201411', '201111',
       '201612', '201609', '201704', '201305', '200203', '199301',
       '201510', '201103', '201202', '201309', '201002', '201208',
       '200907', '200008', '201506', '201006', '201307', '200904',
       '200304', '200012', '200303', '200404', '200712', '200210',
       '200908', '200305', '200002', '199911', '200109', '200903',
       '200410', '199912', '199903', '199809', '200211', '200009',
       '199810', '199811', '199902', '199812', '199612', '199908',
       '199806', '199807', '199906', '199910', '199710', '199711',
       '199905', '200003', '199803', '199802', '199808', '199709',
       '199907', '201210', '199712', '199608', '199708', '199607',
       '199510', '199602', '199606', '199511', '199704', '199611',
       '199604', '199609', '199605', '199610', '199706', '200005',
       '200306', '2016', '2014', '200910', '200512', '200104', '200202',
       '200708', '200206', '200403', '201311', '201005', '200112',
       '200402', '200308', '200603', '200302', '200902', '201211',
       '1998.0', '200405', '200311', '201306', '200810', '200812',
       '199501', '1997.0', '199209', '199705', '200905', '200912',
       '198609', '2011.0', '198901', '199109', '199406', '199603',
       '198503', '199305', '200909', '200711', '200208', '201012',
       '200808', '200605', '2000.0', '200504', '1994.0', '200710',
       '198011', '200703', '200806', '198304', '199405', '200509',
       '198702', '199003', '201003', '200511', '200510', '199004',
       '199001', '200702', '200102', '200007', '200611', '200105',
       '1999.0', '201207', '200411', '200004', '198603', '195706',
       '201007', '2012.0', '200604', '197912', '199512', '200606',
       '199206', '198906', '200412', '200809', '200507', '199300',
       '199112', '199412', '201108', '201102', '200709', '199402',
       '200506', '200803', '199208', '201004', '200807', '201203',
       '201112', '201212', '199312', '197806', '1992.0', '202203',
       '199408', '199500', '2001.0', '1978.0', '197810', '197201',
       '200607', '198812', '196501', '198012', '198708', '197704',
       '199407', '198111', '201502', '200502', '198903', '198703',
       '199308', '198803', '200407', '199011', '1986.0', '200609',
       '201008', '2017.0', '201206', '199804', '2016.0', '2015.0',
       '199403', '199703', '199210', '200503', '200705', '201107',
       '200309', '200612', '200310', '201109', '2007.0', '2009.0',
       '200307', '199509', '199211', '200103', '199502', '199410',
       '199506', '199702', '199103', '200006', '199008', '2013.0',
       '2004.0', '199204', '200409', '199203', '199507', '199202',
       '199707', '199107', '199307', '199010', '199110', '199102',
       '199508', '199111', '199309', '199106', '199207', '2014.0',
       '1996.0', '2002.0', '2003.0', '2010.0', '2008.0', '2006.0',
       '200505', '198306', '199012', '199311', '1993.0', '200312',
       '199302', '198902', '198508', '199504', '199006', '199503',
       '199005', '198505', '2007', '2011', '2010', '2013', '2009', '2006',
       '2008', '2005', '2000', '2003', '2004', '2002', '199805', '199404',
       '199205', '199505', '199108', '199104', '199105', '199411',
       '199409', '199304', '198908', '199303', '199600', '200000',
       '200500', '190105', '199007', '198911', '190012', '199900',
       '200800', '200600', '199700', '1991.0', '200200', '2015', '000000',
       '190101', '200400', '1999', '0000', '200100', '199310', '190005',
       '2005.0', '198900', '200900', '199000', '2001', '200300', '1994',
       '1997', '2000, ', '1998', '1993', '1995', '1996', '199306',
       '199009', '198501', 'June20', '198403', '1987', '1983', '198611',
       '196701', '198905', '198511', '199800', '196901', '199400',
       '198912', '198212', '197210', '1991', '197003', '197104', '197103',
       '197710', '198701', 'June19', '190000', '198010', '1990', '201362',
       '198203', '199212', '198401', '198604', '198311', '198205',
       '198207', '198800', '1989', '1988', '1985', '198801', '198504',
       '1976'], dtype=object)

In [27]:
# 4자리수인 출판일 6자리로 변경
for idx, row in result_list.iterrows():
    if len(str(row["출판일"])) == 4:
        print(str(idx) + "   " + row["출판일"], end = "  ")
        tmp = str(row["출판일"] + "01")
        print(tmp)
        row["출판일"] = tmp
        result_list.iloc[idx] = row

1146   2017  201701
1456   2012  201201
2269   2016  201601
2270   2014  201401
598   2007  200701
976   2011  201101
982   2010  201001
983   2016  201601
984   2014  201401
985   2013  201301
987   2009  200901
988   2006  200601
989   2006  200601
993   2016  201601
994   2016  201601
995   2008  200801
996   2009  200901
997   2016  201601
1444   2017  201701
1445   2013  201301
1446   2005  200501
1447   2005  200501
1448   2005  200501
1449   2000  200001
1454   2013  201301
1455   2013  201301
1456   2013  201301
1457   2012  201201
1458   2005  200501
1459   2009  200901
1461   2003  200301
1462   2008  200801
1463   2006  200601
1495   2014  201401
1497   2013  201301
1500   2004  200401
1501   2005  200501
1502   2005  200501
1503   2007  200701
1504   2004  200401
1505   2002  200201
1506   2007  200701
1512   2000  200001
1513   2006  200601
1741   2016  201601
640   2013  201301
641   2013  201301
642   2013  201301
663   2011  201101
664   2011  201101
665   2011  201101
830   2011  201101
831   2011  201101
832   2011  201101
891   2016  201601
1024   2002  200201
1304   2016  201601
1305   2015  201501
1306   2010  201001
1307   2010  201001
1308   2011  201101
1310   2017  201701
1311   2007  200701
1312   2010  201001
1313   2012  201201
1853   2009  200901
1888   2009  200901
1889   2007  200701
1890   2009  200901
1891   2009  200901
1892   2009  200901
1920   2010  201001
21   2006  200601
489   1999  199901
557   0000  000001
640   2004  200401
642   1999  199901
978   1999  199901
993   2009  200901
996   2004  200401
997   2002  200201
1309   2008  200801
1328   2010  201001
1456   2008  200801
1724   0000  000001
529   2015  201501
530   2015  201501
537   2011  201101
1387   2017  201701
1947   2000  200001
1949   2000  200001
2245   2017  201701
2246   2014  201401
2247   2003  200301
2248   2004  200401
2249   2002  200201
2250   2003  200301
2251   2002  200201
2255   2006  200601
171   2007  200701
359   2000  200001
360   2003  200301
364   2001  200101
545   2014  201401
546   2013  201301
547   2007  200701
548   2006  200601
549   2008  200801
550   2010  201001
551   2011  201101
813   2000  200001
815   2000  200001
1083   2013  201301
1205   2011  201101
78   2009  200901
163   2011  201101
187   1994  199401
210   2011  201101
229   2003  200301
241   1997  199701
245   2001  200101
246   2002  200201
247   2001  200101
254   2001  200101
255   2001  200101
258   2003  200301
263   2001  200101
268   1999  199901
293   2000  200001
297   2001  200101
301   1999  199901
306   1999  199901
310   2003  200301
333   1997  199701
338   2001  200101
342   2001  200101
343   2000  200001
345   2003  200301
352   1998  199801
358   1999  199901
366   2011  201101
371   1993  199301
378   2000  200001
385   2004  200401
390   1994  199401
391   2014  201401
392   2001  200101
394   2000  200001
398   2003  200301
405   1998  199801
407   1995  199501
408   1996  199601
410   2003  200301
421   2003  200301
426   2003  200301
429   1999  199901
453   1995  199501
462   2003  200301
483   2002  200201
485   2002  200201
493   2012  201201
496   2015  201501
507   2012  201201
509   2001  200101
529   2004  200401
531   2000  200001
532   2006  200601
538   1999  199901
541   1999  199901
542   2001  200101
688   2013  201301
700   2010  201001
762   2011  201101
766   2011  201101
774   2000  200001
775   1999  199901
776   2000  200001
788   1995  199501
789   1996  199601
790   2000  200001
791   2002  200201
792   2004  200401
793   2011  201101
810   2010  201001
814   1987  198701
815   1983  198301
1012   2017  201701
1016   2017  201701
1179   2015  201501
1452   2004  200401
1518   2001  200101
1531   1998  199801
1612   1998  199801
1678   2000  200001
1680   2000  200001
1799   2002  200201
1844   1991  199101
1999   1994  199401
2000   1994  199401
2043   2001  200101
2046   2004  200401
2102   1990  199001
2294   1999  199901
2295   1996  199601
2518   1993  199301
2694   2004  200401
2777   2011  201101
2956   1989  198901
2957   1988  198801
2958   1985  198501
2966   1994  199401
2990   1976  197601
3086   1995  199501
3114   2004  200401
3120   2011  201101
3341   2001  200101

In [28]:
result_list['출판일'].unique()

array(['202112', '202101', '202008', '200101', '202111', '202011',
       '202102', '202003', '200601', '202012', '202103', '201301',
       '202105', '202107', '202108', '202110', '202106', '202109',
       '202010', '202104', '201406', '202006', '200801', '201809',
       '199801', '202002', '199701', '202005', '200901', '201402',
       '202009', '201903', '201101', '201905', '200701', '201904',
       '200001', '202007', '199401', '201501', '200301', '200401',
       '201806', '200201', '199901', '201201', '199301', '201708',
       '201401', '199501', '199601', '199101', '199201', '201001',
       '000001', '198601', '201701', '198701', '198301', '201601',
       '201908', '201504', '200501', '201808', '201602', '201909',
       '201807', '201907', '201606', '202001', '201912', '201911',
       '201910', '201712', '201906', '201811', '201901', '201205',
       '201705', '200108', '201805', '201804', '202004', '201403',
       '201803', '201711', '200010', '201801', '200011', '201812',
       '200212', '201703', '201610', '201608', '200911', '201603',
       '201110', '201702', '201710', '201302', '201605', '201709',
       '200107', '201404', '201312', '199904', '201706', '200111',
       '201407', '201310', '201902', '202201', '201802', '201810',
       '201412', '201009', '201707', '201509', '201607', '201303',
       '201611', '201010', '200804', '200802', '201308', '201503',
       '201104', '201512', '200205', '201507', '200610', '200602',
       '201209', '200700', '200406', '199909', '201105', '190001',
       '201011', '200805', '200811', '201304', '200707', '200704',
       '200608', '201505', '201405', '200204', '200106', '201204',
       '200508', '201604', '201508', '201511', '201409', '200906',
       '201411', '201111', '201612', '201609', '201704', '201305',
       '200203', '201510', '201103', '201202', '201309', '201002',
       '201208', '200907', '200008', '201006', '201307', '200904',
       '201410', '200304', '200012', '200303', '200404', '200712',
       '200210', '199001', '200305', '200002', '199911', '200109',
       '200903', '200410', '199912', '199903', '199809', '200211',
       '200009', '199810', '199811', '199902', '199812', '199612',
       '199908', '199806', '199807', '199906', '199910', '199710',
       '199711', '199905', '200003', '199803', '199802', '199808',
       '199709', '199907', '201210', '199712', '199608', '199708',
       '199607', '199510', '199602', '199606', '199511', '199704',
       '199611', '199604', '199609', '199605', '199610', '199706',
       '200005', '200306', '200207', '200910', '200512', '200104',
       '200202', '200708', '200206', '200403', '201311', '200706',
       '201005', '200110', '200112', '200402', '200308', '200209',
       '200603', '200302', '200902', '201211', '1998.0', '200405',
       '200311', '201306', '200810', '200812', '199209', '199705',
       '200905', '200912', '198609', '2011.0', '198901', '199109',
       '199406', '199603', '198503', '199305', '200909', '200711',
       '200208', '201012', '200808', '200605', '2000.0', '200504',
       '1994.0', '200710', '198011', '200703', '200806', '198304',
       '199405', '200509', '198702', '199003', '201003', '200511',
       '200510', '199004', '200702', '200102', '200007', '200611',
       '200105', '1999.0', '201207', '200411', '201506', '200004',
       '198603', '195706', '201007', '2012.0', '200604', '197912',
       '199512', '200606', '199206', '198906', '200412', '200809',
       '200507', '199300', '199112', '199412', '201108', '201102',
       '200709', '199402', '200506', '200803', '199208', '200408',
       '201004', '200807', '201203', '201112', '201408', '201212',
       '198801', '198501', '201106', '199312', '197806', '1992.0',
       '202203', '199408', '199500', '2001.0', '1978.0', '197601',
       '197810', '197201', '200607', '198812', '196501', '198012',
       '198708', '197704', '199407', '198111', '201502', '200502',
       '198903', '198703', '199308', '198803', '200407', '199011',
       '1986.0', '200609', '201008', '2017.0', '201206', '199804',
       '2016.0', '2015.0', '199403', '199703', '199210', '200503',
       '200705', '201107', '200309', '200612', '200310', '201109',
       '2007.0', '2009.0', '200307', '199509', '199211', '200908',
       '200103', '199502', '199410', '199506', '199702', '199103',
       '200006', '199008', '2013.0', '2004.0', '199204', '200409',
       '199203', '199507', '199202', '199707', '199107', '199307',
       '199010', '199110', '199102', '199508', '199111', '199309',
       '199106', '199207', '2014.0', '1996.0', '2002.0', '2003.0',
       '2010.0', '2008.0', '2006.0', '200505', '198306', '199012',
       '199311', '1993.0', '200312', '199302', '198902', '198508',
       '199504', '1997.0', '199006', '199503', '199005', '198505', '2007',
       '2011', '2010', '2016', '2014', '2013', '2009', '2006', '2008',
       '2017', '2005', '2000', '2012', '2003', '2004', '2002', '199805',
       '199404', '199205', '199505', '199108', '199104', '199105',
       '199411', '199409', '199304', '198908', '199303', '199600',
       '200000', '200500', '190105', '199007', '198911', '190012',
       '199900', '200800', '200600', '199700', '1991.0', '200200', '2015',
       '000000', '190101', '200400', '1999', '0000', '200100', '199310',
       '190005', '2005.0', '198900', '200900', '199000', '2001', '200300',
       '1994', '1997', '2000, ', '1998', '1993', '1995', '1996', '199306',
       '199009', 'June20', '198403', '1987', '1983', '198611', '196701',
       '198905', '198511', '199800', '196901', '199400', '198912',
       '198212', '197210', '1991', '197003', '197104', '197103', '197710',
       'June19', '190000', '198010', '1990', '201362', '198203', '199212',
       '198401', '198604', '198311', '198205', '198207', '198800', '1989',
       '1988', '1985', '198504', '1976'], dtype=object)

In [29]:
# 끝자리가 00인것 삭제 출판일 6자리로 변경
for idx, row in result_list.iterrows():
    if str(row["출판일"])[4:6] == "00":
        print(str(idx) + "   " + row["출판일"], end = "   ")
        tmp = str(row["출판일"][:4] + "01")
        print(tmp)
        row["출판일"] = tmp
        result_list.iloc[idx] = row

1353   200700   200701
372   199300   199301
544   199500   199501
557   199500   199501
1532   200700   200701
1544   199600   199601
1630   200000   200001
1634   200500   200501
1641   200700   200701
1657   199600   199601
1777   199900   199901
1786   200000   200001
1796   200800   200801
1798   200600   200601
1900   200600   200601
1935   200800   200801
1952   199700   199701
2029   200700   200701
2034   200600   200601
2097   200700   200701
2113   200600   200601
519   200700   200701
535   200700   200701
551   200500   200501
566   200600   200601
732   200800   200801
740   200500   200501
851   200800   200801
863   200200   200201
870   200600   200601
1371   200600   200601
1389   200200   200201
1400   200600   200601
1407   200500   200501
1410   200800   200801
1494   200600   200601
1617   200700   200701
1624   200700   200701
1629   200700   200701
1640   200700   200701
1644   200700   200701
1649   200700   200701
1669   200600   200601
1729   200700   200701
1791   200800   200801
2039   200800   200801
2053   200200   200201
2058   200200   200201
2059   200700   200701
298   000000   000001
332   000000   000001
337   000000   000001
361   000000   000001
397   200500   200501
411   200400   200401
451   200800   200801
465   000000   000001
466   000000   000001
505   000000   000001
527   000000   000001
543   000000   000001
578   200100   200101
581   000000   000001
591   000000   000001
594   000000   000001
595   000000   000001
609   200800   200801
615   000000   000001
616   000000   000001
617   000000   000001
651   000000   000001
656   000000   000001
665   000000   000001
701   000000   000001
709   000000   000001
713   000000   000001
732   000000   000001
735   000000   000001
745   000000   000001
766   200100   200101
768   000000   000001
772   000000   000001
778   000000   000001
779   200800   200801
782   000000   000001
792   000000   000001
807   000000   000001
825   000000   000001
827   000000   000001
841   000000   000001
955   000000   000001
1331   200200   200201
1338   200500   200501
1343   000000   000001
1344   000000   000001
1362   000000   000001
1374   000000   000001
1383   200200   200201
1388   000000   000001
1389   000000   000001
1397   000000   000001
1401   200100   200101
1404   200600   200601
1405   000000   000001
1407   000000   000001
1417   200200   200201
1544   000000   000001
1558   000000   000001
1562   200700   200701
1583   000000   000001
1585   200600   200601
1586   200200   200201
1587   200400   200401
1594   000000   000001
1603   000000   000001
1614   200200   200201
1617   000000   000001
1620   200000   200001
1621   000000   000001
1623   000000   000001
1716   200100   200101
1749   000000   000001
1752   200000   200001
1809   000000   000001
400   200100   200101
411   200600   200601
468   200000   200001
470   200800   200801
555   200700   200701
658   200700   200701
704   200800   200801
1343   200700   200701
1438   200100   200101
1439   200000   200001
1487   200700   200701
1526   200600   200601
1536   200700   200701
1538   200700   200701
1691   200700   200701
1699   200600   200601
1703   200700   200701
1726   200700   200701
1728   200700   200701
1736   200700   200701
1738   200700   200701
1752   200700   200701
1753   200600   200601
1778   200700   200701
1915   200600   200601
1926   200700   200701
1940   200600   200601
1951   200700   200701
1952   200100   200101
2003   200700   200701
2012   200700   200701
2017   200000   200001
1611   200500   200501
1725   200600   200601
1727   200600   200601
1756   200700   200701
1767   200700   200701
2187   200700   200701
2259   199900   199901
2339   200700   200701
2357   200700   200701
2405   200700   200701
2516   200700   200701
2526   200500   200501
2632   200700   200701
2696   200600   200601
2716   198900   198901
2718   200700   200701
2799   200500   200501
2807   200700   200701
2813   200600   200601
2820   200700   200701
2886   200900   200901
2896   199000   199001
2947   200500   200501
3011   200700   200701
760   200700   200701
814   200200   200201
817   200700   200701
821   200000   200001
935   200700   200701
938   200700   200701
941   200700   200701
943   200700   200701
950   200700   200701
954   200700   200701
955   200600   200601
956   200700   200701
984   200600   200601
1029   200700   200701
1030   200700   200701
1149   200800   200801
1220   200700   200701
1234   200700   200701
1280   200700   200701
1284   200600   200601
1357   200300   200301
274   000000   000001
1655   200200   200201
1676   199800   199801
1718   199400   199401
1730   000000   000001
1965   000000   000001
1977   190000   190001
1980   199500   199501
1990   000000   000001
1991   000000   000001
2422   200900   200901
2497   000000   000001
2577   200700   200701
2594   000000   000001
2714   198900   198901
2730   198800   198801
2804   000000   000001
2817   000000   000001
2852   200600   200601
2872   000000   000001
2918   000000   000001
2970   000000   000001
2971   000000   000001
2972   198800   198801
2973   000000   000001
2974   199000   199001
2980   199500   199501
2981   190000   190001
2982   190000   190001
2983   199000   199001
2984   199000   199001
2985   000000   000001
3294   000000   000001
3301   200200   200201
3315   000000   000001
3323   000000   000001

In [30]:
result_list['출판일'].unique()

array(['202112', '202101', '202008', '200101', '202111', '202011',
       '202102', '202003', '200601', '202012', '202103', '201301',
       '202105', '202107', '202108', '202110', '202106', '202109',
       '202010', '202104', '201406', '202006', '200801', '201809',
       '199801', '202002', '199701', '202005', '200901', '201402',
       '202009', '201903', '201101', '201905', '200701', '201904',
       '200001', '202007', '199401', '201501', '200301', '200401',
       '201806', '200201', '199901', '000001', '201201', '199301',
       '201708', '201401', '200501', '199501', '199601', '199101',
       '199201', '201001', '198601', '201701', '198301', '201601',
       '201908', '201504', '201808', '201602', '201909', '201807',
       '201907', '201606', '202001', '201911', '201910', '201712',
       '201906', '201811', '201901', '201205', '201705', '200108',
       '201805', '201804', '202004', '201403', '201803', '201711',
       '200010', '201801', '200011', '201812', '200212', '201703',
       '201610', '201608', '200911', '201603', '201110', '201702',
       '201710', '201302', '201605', '201709', '200107', '201404',
       '201312', '199904', '201912', '201706', '200111', '201407',
       '201310', '201902', '202201', '201802', '201810', '201412',
       '201009', '201707', '201509', '201607', '201303', '201611',
       '201010', '200804', '200802', '201308', '201503', '201104',
       '200205', '201507', '200610', '200602', '201209', '200406',
       '199909', '201105', '190001', '201011', '200805', '200811',
       '200707', '200704', '200608', '201505', '200204', '200106',
       '201204', '200508', '201604', '201508', '201511', '201409',
       '200906', '201411', '201512', '201111', '201612', '201609',
       '201704', '201305', '200203', '201510', '201103', '201202',
       '201309', '201208', '200907', '200008', '201405', '201307',
       '200904', '201410', '200304', '201304', '200012', '200303',
       '200712', '200210', '199001', '200305', '200002', '199911',
       '200109', '200903', '200410', '199912', '199903', '199809',
       '200211', '200009', '199810', '199811', '199902', '199812',
       '199612', '199908', '199806', '199807', '199906', '199910',
       '199710', '199711', '199905', '200003', '199803', '199802',
       '199808', '199709', '199907', '201210', '199712', '199608',
       '199708', '199607', '199510', '199602', '199606', '199511',
       '199704', '199611', '199604', '199609', '199605', '199610',
       '199706', '200005', '200306', '200207', '200910', '200512',
       '200104', '200202', '200708', '200206', '200403', '201311',
       '200706', '201005', '200110', '200112', '200402', '200308',
       '200209', '200603', '200302', '200902', '201211', '1998.0',
       '200405', '200311', '201306', '200810', '200812', '199209',
       '199705', '200905', '200912', '198609', '2011.0', '198901',
       '199109', '199406', '199603', '198503', '199305', '200909',
       '200711', '201012', '200808', '200605', '2000.0', '200504',
       '1994.0', '200710', '198011', '200703', '200806', '198304',
       '199405', '200509', '198702', '199003', '201003', '200511',
       '200510', '199004', '200702', '200102', '200007', '200611',
       '200105', '1999.0', '201207', '200411', '198801', '200004',
       '198603', '195706', '201007', '2012.0', '200604', '197912',
       '199512', '200606', '199206', '201506', '198906', '200412',
       '200809', '200507', '199300', '199112', '199412', '201006',
       '201108', '201102', '200709', '199402', '200506', '200803',
       '199208', '200408', '201004', '200807', '201203', '201112',
       '201408', '201212', '198501', '201106', '199312', '1992.0',
       '201002', '1978.0', '197601', '197810', '197201', '200607',
       '199500', '198812', '196501', '198012', '198708', '197704',
       '199407', '198111', '201502', '200502', '198903', '198703',
       '199308', '198803', '200407', '199011', '1986.0', '200609',
       '201008', '2017.0', '201206', '199804', '2016.0', '2015.0',
       '199403', '199703', '199210', '200503', '200705', '201107',
       '200309', '200612', '200310', '201109', '2007.0', '2009.0',
       '200307', '199509', '199211', '200208', '200908', '200404',
       '200103', '199502', '199410', '199506', '199702', '199103',
       '200006', '199008', '2013.0', '2004.0', '199204', '199408',
       '200409', '199203', '199507', '199202', '2001.0', '199707',
       '199107', '199307', '199010', '199110', '199102', '199508',
       '199111', '199309', '199106', '199207', '2014.0', '1996.0',
       '2002.0', '2003.0', '2010.0', '2008.0', '2006.0', '200505',
       '198306', '199012', '199311', '1993.0', '200312', '199302',
       '198902', '198508', '199504', '1997.0', '199006', '199503',
       '199005', '198505', '2007', '2011', '2010', '2016', '2014', '2013',
       '2009', '2006', '2008', '2017', '2005', '2000', '2012', '2003',
       '2004', '2002', '199805', '199404', '199205', '199505', '199108',
       '199104', '199105', '199411', '199409', '199304', '198908',
       '199303', '200700', '199600', '200000', '200500', '190105',
       '199007', '198911', '190012', '199900', '200800', '200600',
       '199700', '1991.0', '200200', '2015', '000000', '190101', '200400',
       '1999', '0000', '200100', '199310', '190005', '2005.0', '202203',
       '198900', '200900', '199000', '2001', '200300', '1994', '1997',
       '2000, ', '1998', '1993', '1995', '1996', '199306', '199009',
       'June20', '198403', '1987', '1983', '198611', '196701', '198905',
       '198511', '199800', '196901', '199400', '198912', '198212',
       '197210', '1991', '197003', '197104', '197103', '197710', '198701',
       'June19', '190000', '198010', '1990', '201362', '198203', '199212',
       '198401', '198604', '198311', '198205', '198207', '198800', '1989',
       '1988', '1985', '198504', '1976'], dtype=object)

In [31]:
# 4자리수인 출판일 6자리로 변경
for idx, row in result_list.iterrows():
    if (str(row["출판일"])).isdigit() == False:
        print(str(idx) + "   " + row["출판일"])
        tmp = np.nan        
        row["출판일"] = tmp
        result_list.iloc[idx] = row

55   1998.0
102   2011.0
178   2000.0
181   1994.0
258   1999.0
282   2000.0
319   2012.0
433   1999.0
436   2000.0
534   1992.0
547   1978.0
642   2011.0
722   1986.0
750   2017.0
818   2016.0
820   2015.0
821   2015.0
832   1999.0
833   1999.0
849   1994.0
1185   2012.0
1187   2007.0
1212   2009.0
1334   2013.0
1337   2009.0
1338   2004.0
1524   2009.0
1539   2013.0
1541   2011.0
1542   2001.0
1616   2017.0
1620   2015.0
1621   2015.0
1623   2014.0
1624   2014.0
1625   2014.0
1626   2014.0
1627   2013.0
1628   2013.0
1629   2013.0
1630   2012.0
1634   1996.0
1636   2007.0
1637   2007.0
1640   2009.0
1641   2002.0
1642   2003.0
1643   2003.0
1644   2003.0
1645   2010.0
1646   2010.0
1647   2008.0
1650   2009.0
1653   2000.0
1654   2000.0
1657   2006.0
1659   2011.0
1660   2011.0
1661   2010.0
1672   2006.0
1861   2001.0
1862   2000.0
1869   2003.0
1874   2000.0
1879   2003.0
1889   1996.0
1900   2002.0
1902   2001.0
1903   2012.0
1914   2001.0
1921   1993.0
1926   1999.0
1927   1999.0
1944   1998.0
1951   2002.0
1965   1994.0
1968   2011.0
2119   2016.0
2188   2007.0
2190   2004.0
2200   2007.0
2296   2013.0
2320   2015.0
2321   2014.0
2322   2013.0
2323   2013.0
2324   1996.0
2325   2007.0
2327   2004.0
2329   2002.0
2332   2000.0
2336   2011.0
2376   2012.0
2381   2017.0
2384   2016.0
2385   2016.0
2386   2016.0
2387   2016.0
2390   2015.0
2391   2015.0
2392   2015.0
2393   2015.0
2394   2014.0
2395   2014.0
2396   2014.0
2397   2014.0
2398   2012.0
2400   2004.0
2401   2004.0
2404   2010.0
2405   2003.0
2406   2004.0
2407   1997.0
2408   2003.0
2409   2003.0
2410   2009.0
2415   2008.0
2416   2008.0
2417   2010.0
2418   2009.0
2419   2001.0
2420   2001.0
2422   2007.0
2423   2006.0
2424   2006.0
2426   2008.0
2427   2008.0
2430   2003.0
2694   2017.0
2727   2008.0
2728   2004.0
2729   2002.0
2731   2006.0
49   2008.0
201   2015.0
240   2004.0
271   2009.0
893   2006.0
934   2014.0
941   2012.0
966   2002.0
991   2008.0
995   2008.0
996   2008.0
997   2004.0
998   2016.0
999   1996.0
1000   2009.0
1001   2003.0
1004   2006.0
1005   2008.0
1007   2011.0
1008   2011.0
1012   2015.0
1013   2012.0
1014   2004.0
1019   2004.0
1020   2002.0
1021   2002.0
1022   2011.0
1023   2001.0
1024   2014.0
1025   2002.0
1147   2016.0
1683   2011.0
2086   1991.0
6   2001.0
29   2013.0
1008   2005.0
1218   2003.0
1440   2015.0
1795   1999.0
2473   2000.0
2609   2017.0
2710   1998.0
2857   2000.0
2978   1997.0
3008   1999.0
305   2000,
748   June20
1972   June19

In [32]:
result_list['출판일'].unique()

array(['202112', '202101', '202008', nan, '202111', '202011', '202102',
       '202003', '200601', '202012', '202103', '202105', '202107',
       '202108', '202110', '202106', '202109', '202010', '202104',
       '201406', '202006', '201809', '202002', '199701', '202005',
       '200901', '201402', '202009', '201903', '201905', '201101',
       '200701', '201904', '202007', '199401', '200301', '201806',
       '200101', '200201', '199901', '000001', '200001', '199801',
       '199301', '201708', '200401', '201401', '200501', '199501',
       '199601', '199101', '200801', '201201', '201501', '201301',
       '201001', '198301', '201908', '201601', '201504', '201808',
       '201602', '201909', '201807', '201701', '201907', '201606',
       '202001', '201911', '201910', '201712', '201906', '201811',
       '201901', '201205', '201705', '200108', '201805', '201804',
       '202004', '201403', '201803', '201711', '200010', '201801',
       '200011', '201812', '200212', '201703', '201610', '201608',
       '200911', '201603', '201110', '201702', '201710', '201302',
       '201605', '201709', '200107', '201404', '201312', '199904',
       '201912', '201706', '200111', '201407', '201310', '201902',
       '202201', '201802', '201810', '201412', '201009', '201707',
       '201509', '201607', '201303', '201611', '201010', '200804',
       '200802', '201308', '201503', '201104', '200205', '201507',
       '200610', '200602', '201209', '200406', '199909', '201105',
       '190001', '201011', '200805', '200811', '200707', '200704',
       '200608', '201505', '200204', '200106', '201204', '200508',
       '201604', '201508', '201511', '201409', '200906', '201411',
       '201512', '201111', '201612', '201609', '201704', '201305',
       '200203', '201510', '201103', '201202', '201309', '201208',
       '200907', '200008', '201405', '201307', '200904', '201410',
       '200304', '201304', '200012', '200303', '200712', '200210',
       '199001', '200305', '200002', '199911', '200109', '200903',
       '200410', '199912', '199903', '199809', '200211', '200009',
       '199810', '199811', '199902', '199812', '199612', '199908',
       '199806', '199807', '199906', '199910', '199710', '199711',
       '199905', '200003', '199803', '199802', '199808', '199709',
       '199907', '201210', '199712', '199608', '199708', '199607',
       '199510', '199602', '199606', '199511', '199704', '199611',
       '199604', '199609', '199605', '199610', '199706', '200005',
       '200306', '200207', '200910', '200512', '200104', '200202',
       '200708', '200206', '200403', '201311', '200706', '201005',
       '200110', '200112', '200402', '200308', '200209', '200603',
       '200302', '200902', '201211', '1998.0', '200405', '200311',
       '201306', '200810', '200812', '199209', '199705', '200905',
       '200912', '198609', '2011.0', '198901', '199109', '199406',
       '199603', '198503', '199305', '200909', '200711', '201012',
       '200808', '200605', '2000.0', '200504', '1994.0', '200710',
       '198011', '200703', '200806', '198304', '199405', '200509',
       '198702', '199003', '201003', '200511', '200510', '199004',
       '200702', '200102', '200007', '200611', '200105', '1999.0',
       '201207', '200411', '198801', '200004', '198603', '195706',
       '201007', '2012.0', '200604', '197912', '199512', '200606',
       '199206', '201506', '198906', '200412', '200809', '200507',
       '199300', '199112', '199412', '201006', '201108', '201102',
       '200709', '199402', '200506', '200803', '199208', '198601',
       '200408', '201004', '200807', '201203', '201112', '201408',
       '201212', '198501', '201106', '199312', '1992.0', '201002',
       '1978.0', '197601', '197810', '197201', '200607', '199500',
       '198812', '196501', '198012', '198708', '197704', '199407',
       '199201', '198111', '201502', '200502', '198903', '198703',
       '199308', '198803', '200407', '199011', '1986.0', '200609',
       '201008', '2017.0', '201206', '199804', '2016.0', '2015.0',
       '199403', '199703', '199210', '200503', '200705', '201107',
       '200309', '200612', '200310', '201109', '2007.0', '2009.0',
       '200307', '199509', '199211', '200208', '200908', '200404',
       '200103', '199502', '199410', '199506', '199702', '199103',
       '200006', '199008', '2013.0', '2004.0', '199204', '199408',
       '200409', '199203', '199507', '199202', '2001.0', '199707',
       '199107', '199307', '199010', '199110', '199102', '199508',
       '199111', '199309', '199106', '199207', '2014.0', '1996.0',
       '2002.0', '2003.0', '2010.0', '2008.0', '2006.0', '200505',
       '198306', '199012', '199311', '1993.0', '200312', '199302',
       '198902', '198508', '199504', '1997.0', '199006', '199503',
       '199005', '198505', '2007', '2011', '2010', '2016', '2014', '2013',
       '2009', '2006', '2008', '2017', '2005', '2000', '2012', '2003',
       '2004', '2002', '199805', '199404', '199205', '199505', '199108',
       '199104', '199105', '199411', '199409', '199304', '198908',
       '199303', '200700', '199600', '200000', '200500', '190105',
       '199007', '198911', '190012', '199900', '200800', '200600',
       '199700', '1991.0', '200200', '2015', '000000', '190101', '200400',
       '1999', '0000', '200100', '199310', '190005', '2005.0', '202203',
       '198900', '200900', '199000', '2001', '200300', '1994', '1997',
       '2000, ', '1998', '1993', '1995', '1996', '199306', '199009',
       'June20', '198403', '1987', '1983', '198611', '196701', '198905',
       '198511', '199800', '196901', '199400', '198912', '198212',
       '197210', '1991', '197003', '197104', '197103', '197710', '198701',
       'June19', '190000', '198010', '1990', '201362', '198203', '199212',
       '198401', '198604', '198311', '198205', '198207', '198800', '1989',
       '1988', '1985', '198504', '1976'], dtype=object)

In [36]:
result_list = result_list[result_list["출판일"].isnull() == False]

In [37]:
result_list["출판일"] = result_list["출판일"].astype(int)

ValueError: invalid literal for int() with base 10: '1998.0'

In [33]:
result_list

,책제목,작가,가격,할인가격,ISBN,출판사,출판일,link,언어,페이지수
0,python으로 배우는 OpenCv 프로그래밍,김동근,28000,25200.0,8980783108 9788980783106,가메,202112,http://book.naver.com/bookdb/book_detail.php?b...,Python,552
1,처음 만나는 AI 수학 with Python (한 권으로 배우는 인공지능 수학 첫걸음),아즈마 유키나가,23000,20700.0,8931463375 9788931463378,영진닷컴,202101,http://book.naver.com/bookdb/book_detail.php?b...,Python,308
2,프로그래머를 위한 Python,폴 데이텔|하비 데이텔,38000,34200.0,8931556829 9788931556827,성안당,202112,http://book.naver.com/bookdb/book_detail.php?b...,Python,776
3,Applied Numerical Methods with Python for Engi...,Clough|David,374140,nan,1266651497 9781266651496,McGraw-HillEducation,202112,http://book.naver.com/bookdb/book_detail.php?b...,Python,9781266651496
4,"Programming Basics: Getting Started with Java,...",Ciesla|Robert,66360,nan,1484272854 9781484272855,Apress,202112,http://book.naver.com/bookdb/book_detail.php?b...,Python,9781484272855
...,...,...,...,...,...,...,...,...,...,...
3337,Discovering the Hidden Listener (An Empirical ...,"Parta, R. Eugene.|Parta, Eugene R.",22500.0,20250.0,0817947329 9780817947323,HooverInstPr,200606,http://book.naver.com/bookdb/book_detail.php?b...,R,76
3338,Handbook of Violence,Lisa A. Rapp-paglicci|Albert R. Roberts|John S...,154984.0,154570.0,0471414670 9780471414674,JohnWiley&Sons,200203,http://book.naver.com/bookdb/book_detail.php?b...,R,460
3339,Facilities Engineering and Management Handbook...,Paul R. Smith|editor-in-chief|... et al.,227030.0,122250.0,007059323X 9780070593237,McGraw-Hill,200012,http://book.naver.com/bookdb/book_detail.php?b...,R,1200
3340,C# Orcas For Dummies (Paperback) (For Dummies ...,"Davis, Stephen R.|Sphar, Chuck",44970.0,36880.0,0470191090 9780470191095,JohnWiley&SonsInc,200711,http://book.naver.com/bookdb/book_detail.php?b...,R,456
3341,Venture into cultures alk. paper,Olga R. Kuharets|Editor,nan,nan,0838935133 9780838935132,AmericanLibraryAssociation,2001,http://book.naver.com/bookdb/book_detail.php?b...,R,125

In [34]:
### 3-9 ISBN 국내 출판 번호로 slicing
result_list["ISBN"] = result_list["ISBN"].str.split().str[1].str.slice(start = 0, stop = 5) + result_list["언어"][:]

/var/folders/x5/00w2k2ss4hj05np24xrry2h80000gn/T/ipykernel_21442/787473367.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  result_list["ISBN"] = result_list["ISBN"].str.split().str[1].str.slice(start = 0, stop = 5) + result_list["언어"][:]

In [35]:
result_list

,책제목,작가,가격,할인가격,ISBN,출판사,출판일,link,언어,페이지수
0,python으로 배우는 OpenCv 프로그래밍,김동근,28000,25200.0,97889Python,가메,202112,http://book.naver.com/bookdb/book_detail.php?b...,Python,552
1,처음 만나는 AI 수학 with Python (한 권으로 배우는 인공지능 수학 첫걸음),아즈마 유키나가,23000,20700.0,97889Python,영진닷컴,202101,http://book.naver.com/bookdb/book_detail.php?b...,Python,308
2,프로그래머를 위한 Python,폴 데이텔|하비 데이텔,38000,34200.0,97889Python,성안당,202112,http://book.naver.com/bookdb/book_detail.php?b...,Python,776
3,Applied Numerical Methods with Python for Engi...,Clough|David,374140,nan,97812Python,McGraw-HillEducation,202112,http://book.naver.com/bookdb/book_detail.php?b...,Python,9781266651496
4,"Programming Basics: Getting Started with Java,...",Ciesla|Robert,66360,nan,97814Python,Apress,202112,http://book.naver.com/bookdb/book_detail.php?b...,Python,9781484272855
...,...,...,...,...,...,...,...,...,...,...
3337,Discovering the Hidden Listener (An Empirical ...,"Parta, R. Eugene.|Parta, Eugene R.",22500.0,20250.0,97808R,HooverInstPr,200606,http://book.naver.com/bookdb/book_detail.php?b...,R,76
3338,Handbook of Violence,Lisa A. Rapp-paglicci|Albert R. Roberts|John S...,154984.0,154570.0,97804R,JohnWiley&Sons,200203,http://book.naver.com/bookdb/book_detail.php?b...,R,460
3339,Facilities Engineering and Management Handbook...,Paul R. Smith|editor-in-chief|... et al.,227030.0,122250.0,97800R,McGraw-Hill,200012,http://book.naver.com/bookdb/book_detail.php?b...,R,1200
3340,C# Orcas For Dummies (Paperback) (For Dummies ...,"Davis, Stephen R.|Sphar, Chuck",44970.0,36880.0,97804R,JohnWiley&SonsInc,200711,http://book.naver.com/bookdb/book_detail.php?b...,R,456
3341,Venture into cultures alk. paper,Olga R. Kuharets|Editor,nan,nan,97808R,AmericanLibraryAssociation,2001,http://book.naver.com/bookdb/book_detail.php?b...,R,125

----
## 4. EDA 데이터 분석 및 시각화

In [38]:
# 프로그래밍 언어별 출판물 수

programing_book = result_list.pivot_table(index='언어', values='ISBN', aggfunc="count")
programing_book.rename(columns = {"ISBN" : "출판물 수"}, inplace = True)
programing_book.sort_values(by="출판물 수", ascending=False)

              출판물 수
언어
R              3471
SQL            3023
JavaScript     2904
C              2822
C++            2306
C#             2081
JAVA           1977
Python         1932
Visual Basic   1901
PHP            1373

In [39]:
programing_book_year = result_list.pivot_table(index = "언어", columns = "출판일", values = "ISBN", aggfunc = "count" )
programing_book_year

출판일,0000,000000,000001,190000,190001,190005,190012,190101,190105,195706,...,202107,202108,202109,202110,202111,202112,202201,202203,June19,June20
언어,,,,,,,,,,,,,,,,,,,,,
C,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,1.0,...,8.0,5.0,33.0,5.0,10.0,4.0,2.0,NaN,NaN,NaN
C#,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,...,5.0,6.0,9.0,1.0,5.0,4.0,3.0,NaN,NaN,NaN
C++,NaN,NaN,NaN,NaN,2.0,NaN,1.0,NaN,1.0,NaN,...,5.0,1.0,1.0,3.0,2.0,1.0,1.0,NaN,NaN,NaN
JAVA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.0,6.0,4.0,7.0,6.0,2.0,1.0,NaN,NaN,NaN
JavaScript,NaN,NaN,NaN,NaN,2.0,1.0,NaN,NaN,NaN,NaN,...,9.0,9.0,13.0,11.0,9.0,9.0,NaN,NaN,NaN,NaN
PHP,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,...,3.0,2.0,6.0,1.0,1.0,1.0,3.0,NaN,NaN,NaN
Python,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,...,30.0,25.0,27.0,32.0,27.0,21.0,6.0,NaN,NaN,NaN
R,NaN,18.0,17.0,3.0,8.0,NaN,NaN,NaN,NaN,NaN,...,13.0,4.0,23.0,8.0,9.0,4.0,NaN,NaN,1.0,1.0
SQL,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,1.0,NaN,...,14.0,8.0,15.0,11.0,11.0,3.0,4.0,1.0,NaN,NaN
Visual Basic,2.0,54.0,51.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,...,1.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN